
ng-select {
    min-width: 100px;
    margin-right: 3px;
}

.header {
    display: flex;
    padding: 0px 30px;
    .account {
        margin-left: auto;
    }
    .search-tool {
        display: flex;
        justify-content: left;
        align-items: center;
    }
}
.legend {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: -5px;
}

.button-filter {
    display: none;
}
.form-filter {
    display: flex;
}

@media (max-width: 800px) {
    ng-select {
        min-width: 50%;
        margin-right: 3px;
    }
    .form-filter {
        display: none;
    }
    .button-filter {
        display: block;
    }
}

.mobile-search {
    width: 100%;
}
.button-wrap {
    display: flex;
    justify-content: center;
}