<button nz-button nzType="primary" (click)="open()">Open</button>

<nz-drawer
[nzClosable]="false"
[nzVisible]="visible"
nzPlacement="left"
nzTitle="Basic Drawer"
(nzOnClose)="close()"
>
<ng-container *nzDrawerContent>
    <button nzSize="large" nz-button nzType="primary" (click)="openLoginForm()" nzShape="round">Đăng nhập</button>
</ng-container>
</nz-drawer>

<nz-modal [(nzVisible)]="loginOpen" nzTitle="Đăng nhập" [nzFooter]="tplFooter" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm()">
            <nz-form-item>
              <nz-form-control nzErrorTip="Vui lòng nhập tên đăng nhập!">
                <nz-input-group>
                  <input nzSize="large" type="text" nz-input formControlName="username" placeholder="Tên đăng nhập" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu!">
                <nz-input-group>
                  <input nzSize="large" type="password" nz-input formControlName="password" placeholder="Mật khẩu" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <button nzSize="large" nz-button class="login-form-button login-form-margin" [nzType]="'primary'" nzShape="round">Đăng nhập</button>
        </form>
    </ng-container>
</nz-modal>

<ng-template #tplFooter></ng-template>