.loading {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    background: rgba(255,255,255,.6);
    padding: 2px 12px;
    font-weight: 700;
}
.tool {
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 1000;
}
.aim {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background: #fff;
}
.aim:hover {
    cursor: pointer;
    background: #f5f5f5;
}