{{mapService.formSearch.value | json}}



<form *ngIf="mapService.formSearch" nz-form [formGroup]="mapService.formSearch" nzLayout="inline">
    <!-- <input formControlName="tinhId" /> -->
    <nz-form-item style="margin-bottom: 6px;">
        <nz-form-control style="width: 180px">
            <nz-select formControlName="tinhId" nzSize="large" nzPlaceHolder="Tỉnh" nzShowSearch>
                <nz-option *ngFor="let item of mapService.address.danhSach.tinhThanh" [nzValue]="item.id" [nzLabel]="item.ten">
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item style="margin-bottom: 6px;">
        <nz-form-control style="width: 180px">
            <nz-select formControlName="quanId" nzSize="large" nzPlaceHolder="Quận" nzShowSearch>
                <nz-option *ngFor="let item of mapService.address.danhSach.quanHuyen" [nzValue]="item.id" [nzLabel]="item.ten">
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item style="margin-bottom: 6px;">
        <nz-form-control style="width: 180px">
            <nz-select formControlName="phuongXaId" nzSize="large" nzPlaceHolder="Phường" nzShowSearch>
                <nz-option *ngFor="let item of mapService.address.danhSach.phuongXa" [nzValue]="item.id" [nzLabel]="item.ten">
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item style="margin-bottom: 6px;">
        <nz-form-control style="width: 180px">
            <nz-select formControlName="duongId" nzSize="large" nzPlaceHolder="Đường" nzShowSearch>
                <nz-option *ngFor="let item of mapService.address.danhSach.duongPho" [nzValue]="item.id" [nzLabel]="item.ten">
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>

</form>
<app-main></app-main>


<nz-modal [(nzVisible)]="mapService.viewThuaDat"
[nzStyle]="{ top: '50px' }"
    [nzWidth]="800" nzTitle="Bổ sung địa chỉ">
    <ng-container *nzModalContent>
        <nz-table nzBordered  *ngIf="mapService.thuaDat && mapService.thuaDat.diaChis" #basicTable 
        [nzShowPagination]="false"
        [nzWidth]="800"
        [nzData]="mapService.thuaDat.diaChis">
            <thead>
              <tr>
                <th>Địa chỉ</th>
                <th>Tên người bổ sung</th>
                <th>Tên người duyệt</th>
                <th>Trạng thái</th>
                <th>Thời gian nhập</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of mapService.thuaDat.diaChis">
                <td>
                    {{data.duong}}
                    <button nz-button [nzSize]="'small'" nzShape="round" nzType="primary" (click)="mapService.openPopupSuaDiaChi(data)">
                        <!-- <i nz-icon nzType="edit" nzTheme="outline"></i> -->
                        Sửa
                    </button>
                </td>
                <td>{{data.tenNguoiTao}}</td>
                <td>{{data.tenNguoiDuyet}}</td>
                <td>{{data.trangThai}}</td>
                <td>{{data.thoiGianTao}}</td>
              </tr>
              <tr>
                <td colspan="5">
                    <button nz-button nzType="primary" (click)="mapService.openPopupThemDiaChi()">Tạo mới địa chỉ</button>
                </td>
              </tr>
            </tbody>
        </nz-table>
    </ng-container>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Lưu</button>
    </div>
</nz-modal>

<nz-modal [(nzVisible)]="mapService.themDiaChiPopup"
    [nzWidth]="450" 
    nzTitle="Thêm địa chỉ" (nzOnCancel)="themDiaChiCancel()" (nzOnOk)="themDiaChiOk()">
    <ng-container *nzModalContent>
        <pre>{{mapService.formAddressAdd.value | json}}</pre>
        <form class="form-them-dia-chi" *ngIf="mapService.formAddressAdd" nz-form [formGroup]="mapService.formAddressAdd">
            <!-- <input formControlName="tinhId" /> -->
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="tinhId">Tỉnh/Thành phố</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24">
                    <nz-select  formControlName="tinhId" nzSize="medium" nzPlaceHolder="Tỉnh" nzShowSearch>
                        <nz-option *ngFor="let item of mapService.addressAdd.danhSach.tinhThanh" [nzValue]="item.id" [nzLabel]="item.ten">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="quanId">Quận/Huyện</nz-form-label>
                <nz-form-control  [nzSm]="12" [nzXs]="24">
                    <nz-select formControlName="quanId" nzSize="medium" nzPlaceHolder="Quận" nzShowSearch>
                        <nz-option *ngFor="let item of mapService.addressAdd.danhSach.quanHuyen" [nzValue]="item.id" [nzLabel]="item.ten">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="phuongXaId">Phường/Xã</nz-form-label>
                <nz-form-control  [nzSm]="12" [nzXs]="24">
                    <nz-select formControlName="phuongXaId" nzSize="medium" nzPlaceHolder="Phường" nzShowSearch>
                        <nz-option *ngFor="let item of mapService.addressAdd.danhSach.phuongXa" [nzValue]="item.id" [nzLabel]="item.ten">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="duongId">Đường/Phố</nz-form-label>
                <nz-form-control  [nzSm]="12" [nzXs]="24">
                    <nz-select formControlName="duongId" nzSize="medium" nzPlaceHolder="Đường" nzShowSearch>
                        <nz-option *ngFor="let item of mapService.addressAdd.danhSach.duongPho" [nzValue]="item.id" [nzLabel]="item.ten">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="ngo">Ngõ</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Please input ngo!">
                  <input nz-input formControlName="ngo" placeholder="Ngõ" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="ngach">Ngách</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Please input ngo!">
                  <input nz-input formControlName="ngach" placeholder="Ngách" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="ngo">Số nhà</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Chưa điền số nhà">
                  <input nz-input formControlName="soNha" placeholder="Số nhà" />
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
        <button nz-button nzType="primary" [disabled]="!mapService.formAddressAdd.valid" (click)="mapService.themDiaChi()" >Thêm</button>
    </div>
</nz-modal>