
<app-main></app-main>


<nz-modal
[(nzVisible)]="mapService.viewThuaDat"
(nzOnCancel)="handleCancel()"
[nzMaskClosable]="false"
[nzStyle]="{ top: '50px' }"
    [nzWidth]="800" nzTitle="Bổ sung địa chỉ">
    <ng-container *nzModalContent>
        <div *ngIf="mapService.loading.getThuaDat" class="loading">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>
        <div *ngIf="!mapService.loading.getThuaDat">
            <div>
                Khu vực:
                <b>{{mapService.thuaDat.phuongXa}}
                , {{mapService.thuaDat.quanHuyen}}
                , {{mapService.thuaDat.tinh}}</b>
            </div>
            <div>Diện tích thửa đất: <b *ngIf="mapService.thuaDat">{{mapService.thuaDat.dienTichThuaDat}}m</b></div>
            <div>Chiều rộng mặt tiền: <b *ngIf="mapService.thuaDat">{{mapService.thuaDat.kichThuocMatTien}}m</b></div>
            <div>Chiều rộng mặt tiền hai: <b *ngIf="mapService.thuaDat">{{mapService.thuaDat.kichThuocMatTien2}}m</b></div>
            <div>Chiều rộng mặt tiền ba: <b *ngIf="mapService.thuaDat">{{mapService.thuaDat.kichThuocMatTien3}}m</b></div>

            <div class="table-mobile" *ngIf="mapService.thuaDat && mapService.thuaDat.diaChis" >
                <h4> Địa chỉ</h4>
                <div class="mobile-item" *ngFor="let data of mapService.thuaDat.diaChis; index as i">
                    <div class="left">
                        <div>Số nhà {{data.soNha}}
                            <span *ngIf="data.ngach">, ngách {{data.ngach}}</span>
                            <span *ngIf="data.ngo">, ngõ {{data.ngo}}</span>
                            , {{data.duong}}
                            , {{data.phuongXa}}
                            , {{data.quanHuyen}}
                            , {{data.tinh}}</div>
                        <div class="mobile-status">
                            <div class="name">
                                <nz-tag class="mb-1" [nzColor]="'#ceab00'">Bổ sung: {{data.tenNguoiTao}}</nz-tag>
                                <nz-tag [nzColor]="'#17bd3d'">Duyệt: {{data.tenNguoiDuyet}}</nz-tag>
                            </div>
                            <div>
                                <!-- <button class="mb-1" style="margin-right: 2px" nzSize="small" [nzTooltipTitle]="data.thoiGianTao" nzTooltipPlacement="top" nz-button nz-tooltip>T</button> -->
                                <div *ngIf="authService.hasAuthorize('BO_SUNG_DU_LIEU') && !authService.hasAuthorize('DUYET_DU_LIEU')">{{data.trangThai}}</div>
                                <nz-select nzSize="small" *ngIf="authService.hasAuthorize('DUYET_DU_LIEU')" [(ngModel)]="data.trangThai" (ngModelChange)="mapService.updateTrangThai($event, data)" nzPlaceHolder="Trạng thái" nzShowSearch>
                                    <nz-option *ngFor="let item of mapService.trangThaiDiaChi" [nzValue]="item" [nzLabel]="item">
                                    </nz-option>
                                </nz-select>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <button class="mb-1" nz-button [nzSize]="'small'" nzShape="round" nzType="primary" (click)="mapService.openPopupSuaDiaChi(data)">Sửa</button>
                        <button *ngIf="authService.hasAuthorize('DUYET_DU_LIEU')" nz-button [nzSize]="'small'" nzShape="round" nzType="primary" nzDanger (click)="mapService.xoaDiaChi()">Xóa</button>
                    </div>
                </div>
                <hr>
                <button nz-button nzType="primary" (click)="mapService.openPopupThemDiaChi(mapService.thuaDat)">Tạo mới địa chỉ</button>
            </div>
            <nz-table class="table-desktop" nzBordered  *ngIf="mapService.thuaDat && mapService.thuaDat.diaChis" 
            [nzShowPagination]="false"
            [nzWidth]="800"
            [nzData]="mapService.thuaDat.diaChis">
                <thead>
                <tr>
                    <th>Địa chỉ</th>
                    <th>Tên người bổ sung</th>
                    <th>Tên người duyệt</th>
                    <th>Trạng thái</th>
                    <th>Thời gian nhập</th>
                    <th>Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of mapService.thuaDat.diaChis; index as i">
                    <td>
                        Số nhà {{data.soNha}}
                        <span *ngIf="data.ngach">, ngách {{data.ngach}}</span>
                        <span *ngIf="data.ngo">, ngõ {{data.ngo}}</span>
                        , {{data.duong}}
                        , {{data.phuongXa}}
                        , {{data.quanHuyen}}
                        , {{data.tinh}}

                    </td>
                    <td>{{data.tenNguoiTao}}</td>
                    <td>{{data.tenNguoiDuyet}}</td>
                    <td>
                        <!-- {{data.trangThai}} -->
                        <div *ngIf="authService.hasAuthorize('BO_SUNG_DU_LIEU') && !authService.hasAuthorize('DUYET_DU_LIEU')">{{data.trangThai}}</div>
                        <nz-select *ngIf="authService.hasAuthorize('DUYET_DU_LIEU')" nzSize="medium" [(ngModel)]="data.trangThai" (ngModelChange)="mapService.updateTrangThai($event, data)" nzPlaceHolder="Trạng thái" nzShowSearch>
                            <nz-option *ngFor="let item of mapService.trangThaiDiaChi" [nzValue]="item" [nzLabel]="item">
                            </nz-option>
                        </nz-select>
                    </td>
                    <td>{{data.thoiGianTao}}</td>
                    <td>
                        <button nz-button [nzSize]="'small'" nzShape="round" nzType="primary" (click)="mapService.openPopupSuaDiaChi(data)">Sửa</button>
                        <button *ngIf="authService.hasAuthorize('DUYET_DU_LIEU')" nz-button [nzSize]="'small'" nzShape="round" nzType="primary" nzDanger (click)="mapService.xoaDiaChi()">Xóa</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <button nz-button nzType="primary" (click)="mapService.openPopupThemDiaChi(mapService.thuaDat)">Tạo mới địa chỉ</button>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </ng-container>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
        <button nz-button nzType="primary" (click)="mapService.luuCacDiaChi()" [nzLoading]="isConfirmLoading">Lưu</button>
    </div>
</nz-modal>

<nz-modal [(nzVisible)]="mapService.themDiaChiPopup"
    [nzMaskClosable]="false"
    [nzWidth]="450" 
    nzTitle="Thêm địa chỉ" (nzOnCancel)="themDiaChiCancel()" (nzOnOk)="themDiaChiOk()">
    <ng-container *nzModalContent>
        <nz-breadcrumb style="margin-bottom: 5px;">
            <nz-breadcrumb-item>{{mapService.thuaDat.tinh}}</nz-breadcrumb-item>
            <nz-breadcrumb-item>
              {{mapService.thuaDat.quanHuyen}}
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>{{mapService.thuaDat.phuongXa}}</nz-breadcrumb-item>
        </nz-breadcrumb>
        <!-- <pre>{{mapService.formAddressAdd.value | json}}</pre> -->
        <form class="form-them-dia-chi" *ngIf="mapService.formAddressAdd" nz-form [formGroup]="mapService.formAddressAdd">
            <!-- <input formControlName="tinhId" /> -->
            <div style="display: none;" nz-row>
                <div nz-col [nzXs]="10">
                    <nz-form-label nzRequired>Tỉnh/Thành</nz-form-label>
                </div>
                <div nz-col [nzXs]="14">
                    <ng-select [items]="mapService.addressAdd.danhSach.tinhThanh" formControlName="tinhId" bindLabel="ten" bindValue="id" placeholder="Tỉnh/Thành phố">
                    </ng-select>
                </div>
            </div>
            <div style="display: none;" nz-row>
                <div nz-col [nzXs]="10">
                    <nz-form-label nzRequired >Quận/Huyện</nz-form-label>
                </div>
                <div nz-col [nzXs]="14">
                    <ng-select [items]="mapService.addressAdd.danhSach.quanHuyen" formControlName="quanHuyenId" bindLabel="ten" bindValue="id" placeholder="Quận/Huyện">
                    </ng-select>
                </div>
            </div>
            <div style="display: none;" nz-row>
                <div nz-col [nzXs]="10">
                    <nz-form-label nzRequired >Phường/Xã</nz-form-label>
                </div>
                <div nz-col [nzXs]="14">
                    <ng-select [items]="mapService.addressAdd.danhSach.phuongXa" formControlName="phuongXaId" bindLabel="ten" bindValue="id" placeholder="Phường/Xã">
                    </ng-select>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzXs]="10">
                    <nz-form-label nzRequired >Đường/Phố</nz-form-label>
                </div>
                <div nz-col [nzXs]="14">
                    <ng-select [items]="mapService.addressAdd.danhSach.duongPho" formControlName="duongId" bindLabel="ten" bindValue="id" placeholder="Đường/Phố">
                    </ng-select>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzXs]="10">
                    <nz-form-label >Ngõ</nz-form-label>
                </div>
                <div nz-col [nzXs]="14">
                    <ng-select [items]="mapService.addressAdd.danhSach.ngo" formControlName="ngo" [addTag]="true" placeholder="Ngõ">
                    </ng-select>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzXs]="10">
                    <nz-form-label >Ngách</nz-form-label>
                </div>
                <div nz-col [nzXs]="14">
                    <ng-select [items]="mapService.addressAdd.danhSach.ngach" formControlName="ngach" [addTag]="true" placeholder="Ngách">
                    </ng-select>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzXs]="10">
                    <nz-form-label nzRequired >Số nhà</nz-form-label>
                </div>
                <div nz-col [nzXs]="14">
                    <nz-form-control  nzErrorTip="Chưa điền số nhà">
                        <input nz-input formControlName="soNha" placeholder="Số nhà" />
                    </nz-form-control>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzXs]="10">
                    <nz-form-label >Số tầng nhà</nz-form-label>
                </div>
                <div nz-col [nzXs]="14">
                    <nz-form-control  nzErrorTip="Chưa điền số tầng nhà">
                        <input nz-input formControlName="soTang" placeholder="Số tầng nhà" />
                    </nz-form-control>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzXs]="10">
                    <nz-form-label >Tình trạng nhà</nz-form-label>
                </div>
                <div nz-col [nzXs]="14">
                    <ng-select [items]="mapService.tinhTrangNhas" formControlName="tinhTrangNha"  placeholder="Tình trạng nhà">
                    </ng-select>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzXs]="10">
                    <nz-form-label>Loại công trình</nz-form-label>
                </div>
                <div nz-col [nzXs]="14">
                    <ng-select [items]="mapService.loaiCongTrinhs" formControlName="loaiCongTrinhId" bindLabel="ten" bindValue="id"  placeholder="Loại công trình">
                    </ng-select>
                </div>
            </div>

            
            <!-- <ng-select [items]="mapService.addressAdd.danhSach.tinhThanh" formControlName="tinhId" bindLabel="ten" bindValue="id" placeholder="Tỉnh/Thành phố">
            </ng-select> -->

            <!-- <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="tinhId">Tỉnh/Thành phố</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24">
                    <nz-select  formControlName="tinhId" nzSize="medium" nzPlaceHolder="Tỉnh" nzShowSearch>
                        <nz-option *ngFor="let item of mapService.addressAdd.danhSach.tinhThanh" [nzValue]="item.id" [nzLabel]="item.ten">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item> -->
            <!-- <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="quanHuyenId">Quận/Huyện</nz-form-label>
                <nz-form-control  [nzSm]="12" [nzXs]="24">
                    <nz-select formControlName="quanHuyenId" nzSize="medium" nzPlaceHolder="Quận" nzShowSearch>
                        <nz-option *ngFor="let item of mapService.addressAdd.danhSach.quanHuyen" [nzValue]="item.id" [nzLabel]="item.ten">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item> -->
            <!-- <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="phuongXaId">Phường/Xã</nz-form-label>
                <nz-form-control  [nzSm]="12" [nzXs]="24">
                    <nz-select formControlName="phuongXaId" nzSize="medium" nzPlaceHolder="Phường" nzShowSearch>
                        <nz-option *ngFor="let item of mapService.addressAdd.danhSach.phuongXa" [nzValue]="item.id" [nzLabel]="item.ten">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item> -->
            <!-- <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="duongId">Đường/Phố</nz-form-label>
                <nz-form-control  [nzSm]="12" [nzXs]="24">
                    <nz-select formControlName="duongId" nzSize="medium" nzPlaceHolder="Đường" nzShowSearch>
                        <nz-option *ngFor="let item of mapService.addressAdd.danhSach.duongPho" [nzValue]="item.id" [nzLabel]="item.ten">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item> -->
            <!-- <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="ngo">Ngõ</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Please input ngo!">
                  <input nz-input formControlName="ngo" placeholder="Ngõ" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="ngach">Ngách</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Please input ngo!">
                  <input nz-input formControlName="ngach" placeholder="Ngách" />
                </nz-form-control>
            </nz-form-item> -->
            <!-- <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="ngo">Số nhà</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Chưa điền số nhà">
                  <input nz-input formControlName="soNha" placeholder="Số nhà" />
                </nz-form-control>
            </nz-form-item> -->
            <!-- <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="tinhTrangNha">Tình trạng nhà</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24">
                    <nz-select  formControlName="tinhTrangNha" nzSize="medium" nzPlaceHolder="Tình trạng nhà" nzShowSearch>
                        <nz-option *ngFor="let item of mapService.tinhTrangNhas" [nzValue]="item" [nzLabel]="item">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item> -->
            <!-- <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="tinhId">Loại công trình</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24">
                    <nz-select  formControlName="loaiCongTrinhId" nzSize="medium" nzPlaceHolder="Loại công trình" nzShowSearch>
                        <nz-option *ngFor="let item of mapService.loaiCongTrinhs" [nzValue]="item.id" [nzLabel]="item.ten">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item> -->
        </form>
    </ng-container>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="themDiaChiCancel()">Hủy</button>
        <button nz-button nzType="primary" [disabled]="!mapService.formAddressAdd.valid" (click)="mapService.themDiaChi()" >Thêm</button>
    </div>
</nz-modal>